body {
    margin: 0;
    font-family: Arial;
    background: #0A1F44;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #001233;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(blue, #001233);
}

.hero h2 {
    font-size: 40px;
}

.btn {
    background: #00BFFF;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #00BFFF;
}

.services {
    padding: 50px;
    text-align: center;
}

.card {
    background: #001F54;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    width: 250px;
    box-shadow: 0 0 15px #00BFFF;
}
